@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */
/* @import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap'); */

.BOOXX {
  margin: 2rem;
}

@font-face {
  font-family: 'Calligraffitti';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/calligraffitti/v19/46k2lbT3XjDVqJw3DCmCFjE0vkFeOZc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.bg-gif {
  background-image: url("../public/ShootingStar.gif");
  background-size: cover;
  background-position: center;

  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 1;
}

body {
  /* font-family: 'Fira Sans'; */
  /* font-weight: 400; */
  color: rgb(var(--foreground-rgb));
  background: #07412c;
  height: 100svh;
  width: 100%;
  z-index: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Calligraffitti';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.053rem; /* 48.8px */}

h2 {font-size: 2.442rem; /* 39.04px */}

h3 {font-size: 1.954rem; /* 31.2px */}

h4 {font-size: 1.563rem; /* 24.96px */}

h5 {font-size: 1.250rem; /* 20px */}

small {font-size: 0.800rem; /* 12.8px */}

